.stat-value-0-10{
    color: black;
    display: inline;
    font-size: large;
    font-weight: 900px;
    position: absolute;
}

.stat-value-11-15{
    color: yellow;
    display: inline;
    font-size: large;
    font-weight: 900px;
    position: absolute;
}

.stat-value-16-20{
    color: rgb(0, 255, 13);
    display: inline;
    font-size: large;
    font-weight: 900px;
    position: absolute;
}

hr{
    opacity: 0.1;
}